* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  padding: 30px;
  justify-content: space-evenly;
}
h1{
  text-align: center;
}

section {
  width: 750px;
  height: 750px;
  display: flex;
  margin-left: 500px;
  position: relative;
  border: 5px solid black;
  margin: 0;
  flex-direction: row;
  flex-wrap: wrap;
}
/* Div class that makes three different columns to put the boxes into*/
.square{
    height: 150x;
    width: 150px;
    background-color: rgb(28, 136, 168);
    border: 1px solid rgb(87, 87, 92);
    margin: 0;
    font-size: 100px;
}

.reset{
    height: 148x;
    width: 148px;
    background-color: rgb(57, 117, 57);
    border: 1px solid rgb(66, 66, 117);
    margin: 0;
    font-size: 100px;
}

/* Miss class on div that changes div to red background X */
.miss {
  background-color: red;
}

/* Hit class for ship size one */
.hit1{
  background-color: gray;
}

/* Hit class for ship size two */
.hit2{
  background-color: rgb(78, 74, 74);
}

/* Hit class for ship size three */
.hit3{
  background-color: rgb(36, 35, 35);
}
